
{% for path in telemetry.paths %}
# Temperature
telemetry ietf subscription {{ 3300 + loop.index }}
 encoding encode-kvgpb
 filter xpath {{ path }} 
 source-address {{ interfaces.0.ip_address.split('/') | first }}
 stream yang-push
 update-policy periodic 3000
 receiver ip address {{ telemetry.destination }} {{ telemetry.port }} protocol grpc-tcp
{% endfor %}